.container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    .backbtn{
      position: absolute;
      left: 20px;
      top: 20px;
      width: 75px;
      background: #b7b7b7;
      padding: 8px;
      text-align: center;
      border-radius: 3px;
      color: #404040;
      cursor: pointer;
      font-size: 14px;
      z-index: 1;
    }
    .printbtn{
      position: absolute;
      left: 100px;
      top: 20px;
      width: 75px;
      background: #b7b7b7;
      padding: 8px;
      text-align: center;
      border-radius: 3px;
      color: #404040;
      cursor: pointer;
      font-size: 14px;
      z-index: 1;
    }
    .search {
        position: absolute;
        left: 25%;
        right: 25%;
        top: 0;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #dcdcdc;
        >p {
            margin-right: 15px;
            font-size: 13px;
        }
        .query {
            position: relative;
            width: 550px;
            height: 80px;
            border: 1px solid #5c8fbf;
            .searchbtn {
                position: absolute;
                width: 80px;
                height: 100%;
                right: 0;
                text-align: center;
                line-height: 80px;
                font-size: 30px;
                background-color: #5c8fbf;
                color: white;
                cursor: pointer;
            }
        }
    }
    .searchresult {
        position: absolute;
        left: 15%;
        right: 15%;
        top: 150px;
        bottom: 20px;
        overflow: auto;
    }
    .order {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        .orderTitle {
            text-align: center;
            font-size: 30px;
            font-weight: bold;
            font-family: 'simhei';
            margin-top: 50px;
            margin-bottom: 20px;
            color: black;
        }
        .barcode {
            position: absolute;
            right: 0;
            top: 0;
        }
        .orderForm {
            display: flex;
            height: 30px;
            margin: 3px 10%;
            .content {
                display: flex;
                width: 33.3%;
            }
            .content2 {
                display: flex;
                width: 50%;
            }
        }
        .detailtable {
            margin: 20px 10% 0;
        }
    }
}