.container{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #b5b5b5;

}

.mask{
  position: absolute;
  left: -15px;
  right: -20px;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}
.skindetail{
  z-index: 10;
  position: absolute;
  left: 25%;
  right:25px;
  top:25%;
  bottom:25%;
  background: #ccc;
  cursor: pointer;
}

.homeblock{
  position: absolute;
  background-color: rgba(28,32,51,0.5);
  border: 1px solid rgb(26,62,121);
  border-radius: 2px;

  .title{
    position: absolute;
    width: 122px;
    height: 38px;
    text-align: center;
    line-height: 34px;
    font-size: 14px;
    color: white;
    top: 8px;
    left: -9px;
    text-shadow: 0 2px 4px rgb(0,0,0);
  }
}
